
.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .parentContainer {
    padding: 8px;
    gap: 10px;
  }
}
